
@{
    ViewBag.Title = "Index";
}
<span class="d-flex justify-content-center">
    <img src="~/Uploads/back3.jpg" />
</span>
<div class="container" style="padding-top: 25px; width: 60%; opacity: 70%;">
    <div class="card text-bg-secondary mb-3">
        <div class="card-header" style="color: darkblue; text-align: center;">
            <h5 class="card-title">CRUD APP</h5>
            <h6 class="card-subtitle" style="color:rgb(255, 237, 133) ;">This is a Full CRUD base Application</h6>
        </div>
        <div class="card-body" style="color:rgb(189, 243, 213) ;">
            <h5 class="card-title">Component</h5>
            <ul>
                <li>EntityFrameWork Code First Maigration </li>
                <li>View, PartialView & ViewModel</li>
                <li>I used Ajax,Jquery</li>
                <li>Validation,All data type and Anotation attribute</li>
            </ul>
            <p class="card-text">For admin panel use password:@*@mushi123*@</p>
        </div>
    </div>
</div>
<footer class="container" style="margin-left: 2px; padding-top: 50px; color: rgb(129, 116, 0);">
    <div>Designed by Mosfiqure Rahman</div>
    <div>&copy; 2022</div>
</footer>